html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #f8f9fa;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/* navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.navbar-right {
  display: flex;
  align-items: center;
  padding-right: 30px;
  gap: 30px;
}


.language {
  border-radius: 6px;
}

.navbar-container a { 
  text-decoration: none;
}

.img-icon {
  height: 22px;
}

.wishlist-icon a img {
  width: 22px;
  height: 22px;
}

.user-icon img {
  width: 30px;
  height: 30px;
}

.navbar-middle a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  color: #0e0d0d;
  padding: 5px;
  align-items: center;
}

.navbar-middle a::after {
  background-color: #eb0000;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  content: '';
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.navbar-middle a:hover::after {
  transform: scaleX(1);
}

.rune-icon img {
  height: 70px;
  padding-left: 30px;
}

/* main */
.search {
  display: flex;
  align-items: center;
  width: 700px;
  height: 50px;
  margin: 10px auto;
  background-color: #e9e9e9;
  border-radius: 50px;
  border: 1px solid none;
  padding: 0 15px;
}

.search button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search button img {
  width: 22px;
  height: 22px;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  padding: 0 5px;
}

.featured-game {
  width: 80%;
  height: 400px;
  margin-left: 5px;
  margin-right: auto;
}

.banner {
  width: 100%;
  height: 100%;
  background-image:url("/images/banners/Minecraft-banner.jpg");
  background-size: cover;
  border-radius: 20px;
  transition: 0.2s ease-out;
}

.banner:hover {
  transform: translateY(-2px);
}



